
@media screen and (max-width: 480px) {
	h2 {
		font-size: 20px;
	}
	.navbar > .navbarHeading {
		display: none;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 16px;
	}
	p {
		font-size: 14px;
	}
	li {
		font-size: 12px;
	}
	.outer>.middle>.inner {
		width: 250px;
		padding-top: 52px;
		padding-bottom: 52px;
	}
	#albumHeading {
	background-color: rgba(251, 201, 153, 0.75);
	padding: 5px;
	border-radius: 10px;
	}
}

body {
  padding:0px;
  margin:0px;
  background-image: url('mountain.jpg');
  background-position: absolute;
  background-attachment: fixed;
}

p {
	font-family: 'Varela Round', sans-serif;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: 375px;
	text-align: center;
	background-color: rgba(251, 201, 153, 0.45);
	border-radius: 50%;
	padding-top: 109px;
	padding-bottom: 109px;
	box-shadow: 3px 3px 1px rgba(248, 154, 103, 0.45);
}

.navbar {
	position: fixed;
	z-index: 1001;
	background-color: rgba(251, 201, 153, 0.9);
	min-height: initial;
	border: none;
	border-radius: 0;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#logo {
	max-height: 35px;
}

#reset {
	float: right;
	display: inline;
}

.navbarHeading {
	display: inline;
	vertical-align: bottom;
	font-style: italic;
}

#pageContent {
	padding-top: 75px;

}

#pageTitle {
	display: inline;
	color: #196919;
}

#currentArtist {
	margin-bottom: 15px;
}

#artistImg {
	max-width: 100%;
}

.section {
	margin-left: 0;
	margin-right: 0;
}

#currentArtistInfo, #relatedSection {
	background-color: rgba(251, 201, 153, 0.6);
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
}

.albumArtDiv {
	max-width: 100%;
	overflow: hidden;
}

.albumArtImg {
	max-width: 100%;
}

#relatedSection, .relatedArtistDiv {
	margin-top: 20px;
}

.relatedArtistDiv {
	max-height: 100px;
	margin-bottom: 35px;
}

.relatedArtistImg {
	max-height: inherit; 
	max-width: 100%;
	display: block;
	margin: auto;
}

.relatedArtistName {
	text-align: center;
}

.albumArtImg {
	opacity: 0.85;
}

.albumArtDiv {
	padding: 0;
}

.modal-content {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(251, 201, 153, 0.8);
}

#albumPopUpPic {
	max-width: 100%;
}

h1 {
	font-family: 'Righteous', sans-serif;
}

h2 {
	font-family: 'Varela Round', sans-serif;
}

h3 {
	margin-top: 5px;
	font-family: 'Varela Round', sans-serif;
}
