<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Artist Exploration</title>
	
	<!-- Include libraries -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	
	<!-- Read scripts -->
	<script src="app.js"></script>
	<script src="nonApp.js"></script>
	<link href="app.css" type="text/css" rel="stylesheet"/>
	<link href='https://fonts.googleapis.com/css?family=Righteous|Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="icon" href="spotify.png" />

</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<nav ng-show='artists' class="navbar navbar-default">
		<img id='logo' src="spotify.png">
		<h2 class='navbarHeading'>Artist Explorer</h2>
		<button class="btn btn-danger" id='reset'>Reset Exploration</button>
	</nav>

 	<div ng-show='!artists' class='outer'>
 		<div class='middle'>
 			<div class='inner'>
 				<h1>Welcome</h1>
 				<h2>to Spotify Artist Explorer</h2>
 				<button class="btn btn-danger" id='exploreButton'>Start Exploring!</button>
 			</div>
 		</div>
 	</div>

 	<!-- Initiate app -->
	<div id='pageContent' class='container'>
		<div id='results' ng-show='relatedData'>
			<div class='row'>
				<div id='currentArtist' class='col-md-2 col-sm-3 col-xs-12' ng-repeat='artist in artists'>
					<div class='row'>
						<div class='col-sm-12 col-xs-8'>
							<img id='artistImg' ng-src="{{artist.images[0].url}}">
						</div>
						<div id='currentArtistInfo' class='col-sm-12 col-xs-4'>
							<h3>{{artist.name}}</h3>
							<div class='circle'>{{artist.popularity}}</div>
							<p>Popularity Rating</p>
							<div class='circle'>{{artist.followers.total}}</div>
							<p>Followers</p>
						</div>
					</div>
				</div>
				<div class='col-md-10 col-sm-9 col-xs-12'>
					<div class='row'>
						<h3><span id='albumHeading'>Click on an album to view songs:</span></h3>
						<div ng-repeat='album in albums' class='albumArtDiv col-md-2 col-sm-3 col-xs-4'>
							<img class='albumArtImg' alt='{{album.id}}'  ng-src="{{album.images[1].url}}" />
						</div>
					</div>
				</div>
			</div>				
			<div class='row' id='relatedSection'>
				<h3>Related Artists</h3>
				<h4>Click to Select:</h4>
				<div ng-repeat='artist in relatedData | limitTo:6' class='relatedArtistDiv col-md-2 col-sm-3 col-xs-4'>
					<img class='relatedArtistImg' ng-src='{{artist.images[1].url}}' />
					<p class='relatedArtistName'>{{artist.name}}</p>
				</div>
			</div>
		</div>				

		<div class='modal fade' id='explorePopUp' role='dialog'>
			<div class='modal-dialog'>
				<div class='modal-content'>
					<div class='modal-header'>
						<button class='close' data-dismiss='modal'>&times;</button>
						<h3>Start your Spotify search experience</h3>
					</div>
					<div class='modal-body'>
						<form name='searchForm' novalidate>
							<div class='form-group'>
								<label for='searchString'>Start your Spotify Explore Search by Selecting an Artist:</label>
								<input ng-model='sString' id='searchString' name='search' placeholder='Enter your search..' class='form-control' ng-required='true' required/>
							</div>
							<div class='form-group'>
								<button ng-click='getArtist(sString)' class='btn btn-danger btn-block' type='submit' ng-disabled='searchForm.search.$invalid'>Search!</button>
							</div>						
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class='modal fade' id='albumPopUp' role='dialog'>
			<div class='modal-dialog'>
				<div class='modal-content'>
					<div class='modal-header'>
						<button class='close' data-dismiss='modal' ng-click='stopMusic()'>&times;</button>
						<h3>{{albumInfo.name + ' - ' + byLine}}</h3>
					</div>
					<div class='modal-body'>
						<p>Click on a song to play:</p>
						<ol>
							<li class='track' ng-repeat='track in albumInfo.tracks.items' ng-click='play(track.preview_url)'>{{track.name}}</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>